body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  height: 80px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 25px; 
  color: black;
  align-items: center;
}

.header li {
  list-style: none;
}

.logo2{
  width: 20px;
}

.icons{
  margin-right: 70px;

}

.homecontainer{
  width: 100vw;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  box-shadow: black;
}

.banner {
  width: 100%;
  height: fit-content;
  
  

}

/* Main container */
.maincontainer {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center the content horizontally */
  width: 100%;
  padding: 20px;
}

/* Header Styling */
h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

/* Styling for the list items ("Bodyweight", "Strength", "Cardio") */


/* Product Container (Grid-like layout for products) */
.productcontainer {
  display: flex; /* Arrange product items horizontally */
  flex-wrap: nowrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Align items to the start (left) */
  gap: 20px; /* Space between the product items */
  width: 100vw;
  padding: 20px;
}

/* Styling for each product item */
.productcontainer > div {
  width: 300px; 
  text-align: center;
  box-sizing: border-box; 
  padding: 10px;
  
  
}


.productcontainer img {
  width: 100%; 
  height: 60%;  
  object-fit: cover;
}

/* Text below the image */
.productcontainer p {
  font-size: 16px;
   
}

.active {
  background-color: #79be45;
}

.maincontainer ul li a:not(.active):hover{
  background-color: #79be45;
}


.buttongroup{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 35px;
}

.button2 {
  padding: 11px 20px;
  background-color: #d3f6db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
}










